$light_blue: #008AA2;
$ada_teal: #006273;
$dark_blue: #13457B;
$gold: #b89a52;
$yellow: #FED700;
$custom_grey: #334A58;
$dark_grey: #212121;
$off_white: #cae4e8;
$basically_white: #eaedee;
$drowdown_bg: rgba(51,74,88,.5);
$red: #AD0000;
$green: #1C5E3D; 
$mid_blue: #21666E;